# Data Manipulation & Math
pandas
numpy

# Statistical Analysis & Math Formulas
scipy

# Visualizations & Charts
matplotlib
seaborn
plotly

# Fetching financial data from online APIs
requests

# Running Python kernels inside Jupyter Notebooks
ipykernel

# Testing framework
pytest

# Streamlit App & Deployment
streamlit

# Machine Learning
scikit-learn

# PDF Generation
reportlab
